<h1><span data-i18n="skills.my_skills">Qui suis-je ?</span></h1>

<div>
  Bien le bonjour, <br>
  <br>
  Je suis devenu développeur après plusieurs années dans le monde de la radio, 
  vous pouvez en savoir plus en allant lire cet 
  <a href="{{ site.baseurl }}/articles/2019-03/De-la-radio-au-developpement" target="_blank">article</a>. <br>
  En ce moment, et depuis juin 2018, je travail dans le milieu du nuage en tant que développeur backend pour la
  société <a href="https://fr.outscale.com/" target="_blank">Outscale</a>.  <br>
  Pour en savoir plus, il y a toujours le fameux <a href="https://www.linkedin.com/in/francoisrabanel/" target="_blank">linkedin</a>.
</div>
