<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Formations</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.education %}
          <div class="archive-title bio">
            <div class="archive-year"><strong>{{ career.date }}</strong> <a href="{{ career.link }}">{{ career.name }}</a></div>
            <div><i>{{ career.descr }}</i></div>
          </div>
    {% endfor %}
  </div>
</div>