<h1><span data-i18n="skills.my_skills">Projets</span></h1>

{% for project in site.data.index.projects %}
    <div class="row">
            <div class="col">
                <h2 style="margin: 0">{{ project.name }}</h2>
                {% if project.image %}
		<img src="{{ site.baseurl }}/img/{{ project.image }}" alt="screenshot projet" class="img-project">
                {% endif %}
                {% if project.gitlab %}
                <a href="{{ project.gitlab }} " target='_blank'><i class="fab fa-gitlab"></i> Gitlab</a>
                {% endif %}
                {% if project.website %}
		<a href="{{ project.website }} " target='_blank'><i class="fa fa-fw fa-home"></i> {{ project.name }}</a>
                {% endif %}
                <p style="margin: 0">{{ project.descr }}</p>
            </div>
    </div>
{% endfor %}
