{% if page.title %}
  {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

{% if page.excerpt %}
  {% capture description %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endcapture %}
{% else %}
  {% capture description %}{{ site.description }}{% endcapture %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
  <meta name="author" content="{{ title | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#f5f5f5">
  <!-- Umami Tags -->
  <script defer src="https://umami.lasalledutemps.fr/script.js" data-website-id="2d5f5527-2960-4d4b-b257-0cdfdb69fcec"></script>

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title | escape }}">
  <meta name="twitter:description" content="{{ description | escape }}">
  <meta property="twitter:image" content="{{ site.baseurl }}/img/pesko3.jpeg">

  <!-- Open Graph Tags -->
  <meta property="og:type" content="blog">
  <meta property="og:url" content="{{ root_url }}{{ page.url }}">
  <meta property="og:title" content="{{ title | escape }}">
  <meta property="og:description" content="{{ description | escape }}">
  {% if page.image.feature %}
    <meta property="og:image" content="{{ root_url }}/img/{{ page.image.feature }}">
  {% else %}
    <meta property="og:image" content="{{ site.baseurl }}/img/pesko3.jpeg">
  {% endif %}
  <title>{{ title }}</title>

  <!-- CSS files -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- 16x16 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SNRQLJCTLP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SNRQLJCTLP');
  </script>
</head>
