---
layout: default
---

<a class="btn" href= "{{ site.baseurl }}/" >
  Home
</a>
{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.baseurl }}/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Credit photo: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      •
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<div class="share-buttons">
  <h6>Partager sur: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.baseurl }}{{ page.url }}" class="twitter btn" title="Partager sur Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" class="facebook btn" title="Partager sur Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://news.ycombinator.com/submitlink?u={{ site.baseurl }}{{ page.url }}" class="hacker-news btn" title="Partager sur Hacker News"><i class="fa fa-hacker-news"></i><span> Hacker News</span></a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ site.baseurl }}{{ page.url }}" class="reddit btn" title="Partager sur Reddit"><i class="fa fa-reddit"></i><span> Reddit</span></a>
    </li>
  </ul>
</div><!-- end share-buttons -->

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
